@use './../common/styles/mixin';
@use './../common/styles/vars';

.main {
    display: flex;
    align-items: stretch;
    position: relative;
    justify-content: space-between;

    &__welcome {
        display: block;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 22px;

        span {
            color: vars.$secondary-color;
        }
    }

    &__text {
        padding-right: 16%;
    }

    &__fanny-list {
        display: flex;
        margin-top: 20px;

        li {
            margin: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 70%;

        z-index: 3;
    }

    &__image {
        display: block;
        overflow: hidden;

        max-width: 25%;
        padding: 10px;
        z-index: 3;

        border-radius: 12px;
        background: linear-gradient(145deg, #6a68ce, #279ffe);
        @include mixin.box-shadow-custom;

        img {
            //max-width: 100%;
            //height: calc(100vh - 500px);

            vertical-align: middle;
            max-width: 100%;
            height: auto;

            border-radius: 8px;

            background: linear-gradient(145deg, #3b516c, #0e243a);
            object-fit: cover;
        }
    }

    &__stack {
        margin: 15px 0 10px 0;
        text-align: center;

        font-size: .8rem;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;

        color: #c5f7ff;
    }
}

@media (max-width: 790px) {
    .main {
        &__description {
            max-width: 55%;
        }

        &__image {
            max-width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        align-items: start;

        &__welcome {
            margin-top: 30px;
        }

        &__description {
            max-width: 100%;
        }

        &__image {
            max-width: 55%;
            margin-top: 15px;
        }

        &__fanny {
            margin-top: 25px;
        }

        &__fanny-list {
            margin-top: 10px;
        }
    }
}

